@charset "utf-8";


#tabla {
    width: 60%;
    margin: auto;
}

#tablaPrin {
    width: 100%;
}

.tablaTitulo {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    background-color: #AC7D88;
    color: #fff;
}

.tablaElemento {
    background-color: #DEB6AB;
}

td, th {
    padding: 10px;
}

#titulo h3 {
    text-align: center;
}
