@charset "utf-8"; 


#imagen {
    float: right;
    max-width: 600px;
    margin-top: 50px;
}

#titulo {
    text-align: center;
}


#titulo h3 {
    color: #000;
    font-size: 22px;
    font-weight: bold;
}
